<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surat berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js"></object>
</head>
<body>
<p>Berhasil Dibuat</p>
<a th:href="@{/daftarSurat}" class="btn btn-primary">Lihat Permintaan</a>
</body>
</html>