<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <title>SI SURAT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <a type="button" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>


            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <br>
                <img src="https://i.ibb.co/tJRbdgS/user.png" height="100" width="100" />

                <br>

                <h5>Nama  </h5>
                <p th:text="${user.getName()}"></p>

                <h5>Email UI </h5>
                <p th:text="${user.getEmailUI()}"></p>

                <h5>Email Non-UI </h5>
                <p th:text="${user.getEmailNonUI()}"></p>

                <div class=" d-flex mt-2">
                    <a th:href="@{/profile/edit}" class="btn btn-outline-primary">Tambah Email</a>
                </div>
            </div>


        </div>
    </div>
</div>

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>

</body>
</html>
