<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>


</head>

<style>
    .wrapper-radio{
        display: flex;
        flex-direction: column;
    }

    .wrapper-radio-button{
        display: flex;
        flex-direction: row;
    }

    .wrapper-title h1{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-top: 90px;
        margin-bottom: 30px;
    }

    .input-wrapper label{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        font-style: normal;
    }

    .input-wrapper input[type="text"]{
        width: 700px;
        height: 50px;
    }

    .input-wrapper input[type="hidden"]{
        width: 328px;
        height: 50px;
    }


    .input-wrapper select{
        width: 700px;
        height: 50px;
    }


    .input-wrapper{
        margin-bottom: 30px;
    }

    .wrapper-radio-button input[name="bentukSurat"]{
        accent-color: #31368E;
    }

    .button-batalkan{
        text-decoration: none;
        background: white;
        border: black solid 0.1px;
        padding: 10px 50px;
        color: #31368E;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
    }

    .button-batalkan:hover{
        text-decoration: none;
    }

    .wrapper-submit-decline{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
    }
</style>


<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="wrapper-title">
                            <h1 th:text="${suratForm.jenisSurat.nama}"></h1>
                        </div>
                        <form th:action="@{/addSurat/add}" th:object="${suratForm}" method="POST">
                            <input type="hidden" th:field="*{jenisSurat.id}"/>
                            <input type="hidden" th:field="*{listCount}">

                            <div class="input-wrapper">
                                <label>Nama</label>
                                <input type="text" th:value="${mahasiswa.name}" class="form-control" style="font-size: 16px" disabled/>
                            </div>

                            <div class="input-wrapper">
                                <label>NPM</label>
                                <input type="text" th:value="${mahasiswa.npm}" class="form-control" style="font-size: 16px" disabled/>
                            </div>

                            <div class="input-wrapper">
                                <label>Bahasa Surat</label>
                                <select th:field="*{bahasaSurat}" class="form-control" style="font-size: 16px" required>
                                    <option selected value=""> -- Pilih bahasa -- </option>
                                    <option value="0">Bahasa Indonesia</option>
                                    <option value="1">Bahasa Inggris</option>
                                </select>
                            </div>

                            <div class="input-wrapper">
                                <label>Bentuk Surat</label>
                                <select th:field="*{bentukSurat}"class="form-control" style="font-size: 16px" required>
                                    <option selected value=""> -- Pilih bentuk -- </option>
                                    <option value="0">Softcopy</option>
                                    <option value="1">Hardcopy</option>
                                </select>
                            </div>

                            <div class="input-wrapper">
                                <label>Keperluan</label>
                                <input type="text" th:field="*{keperluan}" class="form-control" style="font-size: 16px" required/>
                            </div>

                            <div class="input-wrapper" th:unless="*{textFields == null}" th:each="textField, iterationStatus : *{textFields}">
                                <input type="hidden" class="form-control"  th:field="*{textFields[__${iterationStatus.index}__].name}"/>
                                <input type="hidden" class="form-control"  th:field="*{textFields[__${iterationStatus.index}__].type}"/>
                                <label th:text="${textField.name}"></label>
                                <input th:type="${textField.type}" th:field="*{textFields[__${iterationStatus.index}__].value}" class="form-control" style="width: 700px" required/>
                            </div>

                            <th:block th:unless="*{listFields == null}" th:each="tableIdx : ${#numbers.sequence(0, suratForm.listCount - 1)}">
                                <input th:each="column, iterStat : *{listFields[__${tableIdx}__]}" type="hidden" th:field="*{listFields[__${tableIdx}__][__${iterStat.index}__].name}"  />
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th th:each="listField, itemStat : *{listFields[__${tableIdx}__]}" th:text="${listField.name}">
                                        </th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="field, iterationStatus : *{listFields[__${tableIdx}__][0].values}">
                                        <td>
                                            <p th:text="${iterationStatus.count}"></p>
                                        </td>
                                        <td th:each="column, iterStat : *{listFields[__${tableIdx}__]}">
                                            <input type="text" th:field="*{listFields[__${tableIdx}__][__${iterStat.index}__].values[__${iterationStatus.index}__]}" class="form-control" style="font-size:16px" required>
                                        </td>
                                        <td th:unless="${iterationStatus.index == 0}">
                                            <button th:value="${iterationStatus.index} + ',' + ${tableIdx}" class="btn btn-danger" type="submit"
                                                    name="hapusField">Hapus</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-primary" name="tambahField" type="submit" th:value="${tableIdx}">Tambah Isian</button>
                                <br><br>
                            </th:block>

                            <div class="wrapper-button-ajukan">
                                <div class="wrapper-submit-decline">
                                    <a th:href="@{/daftarSurat}"class="btn btn-outline-danger">Batalkan</a>
                                    <button type="submit" class="btn btn-primary" name="simpan">Ajukan Surat</button>
                                </div>
                            </div>

                            <br><br>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>
</body>

</html>
