<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Tambah Template Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <a type="button" th:href="@{/listtemplate}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <br>
                <br>
                <h1 class="title">Tambah Template Surat</h1>
                <br>
                <br>

                <form class="row g-3" th:action="@{/tambahJenisSurat}" th:object="${jenisSurat}" method="post">

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="form-label">Nama Surat</label>
                            <input type="text" th:field="*{nama}" class="form-control" placeholder="Surat Keterangan Lulus" required>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Batas Waktu Sesuai SOP (hari)</label>
                            <input type="number" th:field="*{batasWaktu}" class="form-control" required>
                        </div>
                    </div>

                    <div th:each="fieldAndType, itemStat : *{fieldsAndTypes}">
                        <div class="form-group row">

                            <div class="form-group col-md-6">
                                <label class="form-label">Nama Isian</label>
                                <input type="text" th:field="*{fieldsAndTypes[__${itemStat.index}__].name}" class="form-control" placeholder="Bulan Mulai" required>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="form-label">Jenis Isian</label>
                                <select th:field="*{fieldsAndTypes[__${itemStat.index}__].type}" class="form-select type-placeholder" required>
                                    <option th:each="tipe : ${daftarTipe}" th:value="${tipe.value}" th:text="${tipe.key}">
                                    </option>
                                </select>
                            </div>

                            <div th:unless="${itemStat.index == 0}" class="form-group col-md-2 d-md-inline-flex" >
                                <button type="submit" th:value="${itemStat.index}" name="hapusField" class="btn btn-link" ><i class="fa-solid fa-trash"></i></span></button>
                            </div>

                        </div>
                    </div>


                    <div class="col-auto">
                        <button type="submit" name="tambahField" class="btn btn-outline-primary">Tambah Isian</button>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="simpan" class="btn btn-primary float-lg-end">Simpan</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--Function js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/js/placeholder.js}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<div th:replace="fragments/fragment :: js"></div>
<footer th:replace="fragments/fragment :: footer"></footer>

</body>

</html>