<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List Jenis Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    /* Style the search field */
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid #8BB4FF;
        border-radius: 8px;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    /* Style the submit button */
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #31368E;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 8px;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
        margin-left: 21px;
    }

    form.example button:hover {
        background: #0b7dda;
    }

    /* Clear floats */
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }

    .jenis-surat{
        display: flex;
        flex-direction: row;
    }

    .jenis-surat img{
        width: 24px;
        height: 24px;
    }

    .jenis-surat a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }


    .container-page-title{
        margin-top: 50px;
    }

    .container-page-title h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: black;
    }

    .container-list-jenis-surat{
        display: flex;
        flex-direction: row;
        column-gap: 302px;
        margin-top: 49px;
        margin-bottom: 24px;
    }

    .jenis-surat{
        margin-bottom: 16px;
    }

    .jenis-surat:last-child{
        margin-bottom: 0;
    }

    .img-tengah{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

</style>

<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <div class="container-page-title">
                            <h1 class="title-page">Surat Akademis</h1>
                        </div>

                        <div class="container-list-jenis-surat" >
                            <div class="wrapper-jenis-surat">
                                <div class="jenis-surat" th:each="JenisSurat, iterationStatus : ${listJenisSurat}" th:value="${JenisSurat.id}">
                                    <img src="images/u_file-alt.png">
                                    <a th:href="@{/addSurat/add(id=${JenisSurat.id})}" th:text="${JenisSurat.nama}"></a>
                                </div>
                            </div>
                        </div>

                        <div th:unless="${listJenisSurat.size != 0}" class="img-tengah">
                            <div>
                                <img src="images/folder-images.png" alt="folder-img" class="align-middle">
                            </div>
                            <br><br>
                            <h4 style="text-align: center">Belum ada template surat, silakan hubungi admin</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>

</body>
</html>