<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Daftar Surat</title>
    <meta charset="UTF-8">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/segmented.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}"/>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="container">
                <h1 class="title">Daftar Surat</h1>

                <div class="search">

                    <i class="fa fa-search"></i>

                    <input id="name" type="text" class="form-control" placeholder="Masukkan nama mahasiswa">
                    <button class="btn btn-primary" id="okeSearch">Cari</button>
                </div>

                <ul sec:authorize="hasRole('ADMIN')" class="buttonGroup">
                    <li class="selected">Semua surat</li>
                    <li>Diajukan</li>
                    <li>Menunggu Persetujuan</li>
                    <li>Disetujui</li>
                    <li>Selesai</li>
                    <li>Ditolak</li>
                </ul>

                <br>
                <table class="table" id="employeesTable">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Jenis Surat</th>
                        <th scope="col">Nama Pengaju</th>
                        <th scope="col">Tanggal Pengajuan</th>
                        <th scope="col">Bahasa Surat</th>
                        <th scope="col">Bentuk Surat</th>
                        <th scope="col">Status</th>
                        <th class="text-center" scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="surat, iterationStatus : ${listRequest}">
                        <td  class="align-middle" th:text="${iterationStatus.count}"></td>
                        <td  class="align-middle" th:text="${surat.jenisSurat.nama}"></td>
                        <td  class="align-middle" th:text="${surat.mahasiswa.name}"></td>
                        <td class="align-middle" th:text="${#temporals.format(surat.tanggalPembuatan, 'dd-MM-yyyy')}"></td>
                        <td  class="align-middle" th:text="${surat.bahasaSurat == 0} ? 'Indonesia' : 'Inggris'"></td>
                        <td class="align-middle" th:text="${surat.bentukSurat == 0} ? 'Softcopy' : 'Hardcopy' "></td>
                        <td class="align-middle" th:if="${surat.status == 0}">Diajukan</td>
                        <td class="align-middle" th:if="${surat.status == 1}">Menunggu Persetujuan</td>
                        <td class="align-middle" th:if="${surat.status == 2}">Disetujui</td>
                        <td class="align-middle" th:if="${surat.status == 3}">Selesai</td>
                        <td class="align-middle" th:if="${surat.status == 4}">Ditolak</td>
                        <td class="align-middle">
                            <div class="align-middle text-center">
                                <a th:href="@{/detailSurat/}+${surat.idPermintaanSurat}" class="btn btn-primary">Lihat Detail</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div id="none">
                </div>

                <div id="kosong" th:if="*{listRequest.size() == 0}">
                    <br><br>
                    <h5 style="text-align:center; margin-left: 50px"> Tidak terdapat permintaan surat dengan status ini.</h5>
                </div>

            </div>
        </div>
    </div>
</div>


<!--Function js-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js'></script>
<script  th:src="@{/js/function.js}"></script>
<script  th:src="@{/js/search.js}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</body>
</html>
