
<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>SI SURAT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>

</head>


<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>

  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Statistik Surat</h4>

            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 overflow-hidden">
                    <p
                            class="text-uppercase fw-medium text-muted text-truncate mb-0">
                      Surat Masuk</p>
                  </div>
                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                  <div>
                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                      <div th:text="${suratMasuk}"></div>
                    </h4>
                    <a th:href="@{/daftarSurat}" class="text-decoration-underline">Lihat</a>
                  </div>
                  <div class="avatar-sm flex-shrink-0">
                      <span class="avatar-title bg-soft-masuk rounded fs-3">
                          <i class="fa-solid fa-file-import"></i>
                      </span>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div><!-- end col -->

          <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 overflow-hidden">
                    <p
                            class="text-uppercase fw-medium text-muted text-truncate mb-0">
                      Surat Diproses</p>
                  </div>
                </div>

                <div class="d-flex align-items-end justify-content-between mt-4">
                  <div>
                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                      <div th:text="${suratDiproses}"></div>
                    </h4>
                    <a th:href="@{/daftarSurat}"  class="text-decoration-underline">Lihat</a>
                  </div>

                  <div class="avatar-sm flex-shrink-0">
                      <span class="avatar-title bg-soft-diproses rounded fs-3">
                          <i class="fa-solid fa-file-pen"></i>
                      </span>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div><!-- end col -->

          <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 overflow-hidden">
                    <p
                            class="text-uppercase fw-medium text-muted text-truncate mb-0">
                      Surat Selesai</p>
                  </div>

                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                  <div>
                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                      <div th:text="${suratSelesai}"></div>
                    </h4>
                    <a th:href="@{/daftarSurat}" class="text-decoration-underline">Lihat</a>
                  </div>
                  <div class="avatar-sm flex-shrink-0">
                    <span class="avatar-title bg-soft-selesai rounded fs-3">
                        <i class="fa-solid fa-file-circle-check"></i>
                    </span>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div><!-- end col -->

          <div class="col-xl-3 col-md-6">
            <!-- card -->
            <div class="card card-animate">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 overflow-hidden">
                    <p
                            class="text-uppercase fw-medium text-muted text-truncate mb-0">
                      Surat Ditolak</p>
                  </div>

                </div>
                <div class="d-flex align-items-end justify-content-between mt-4">
                  <div>
                    <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                      <div th:text="${suratDitolak}"></div>
                    </h4>
                    <a th:href="@{/daftarSurat}" class="text-decoration-underline">Lihat</a>
                  </div>
                  <div class="avatar-sm flex-shrink-0">
                      <span class="avatar-title bg-soft-ditolak rounded fs-3">
                          <i class="fa-solid fa-file-circle-xmark"></i>
                      </span>
                  </div>
                </div>
              </div><!-- end card body -->
            </div><!-- end card -->
          </div><!-- end col -->
        </div> <!-- end row-->

        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="float-end">
                  <!-- <div class="dropdown">
                    <a class="dropdown-toggle text-reset" href="#" id="dropdownMenuButton5"
                       data-bs-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      <span class="fw-semibold">Sort By:</span> <span class="text-muted">Tahun<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton5">
                      <a class="dropdown-item" href="#">Bulan</a>
                      <a class="dropdown-item" href="#">Tahun</a>
                      <a class="dropdown-item" href="#">Minggu</a>
                    </div>
                  </div> -->
                </div>
                <h4 class="card-title mb-4">Statistik Surat</h4>


                <div class="mt-3">
                  <div class="row justify-content-center">
                    <div class="col-xl-3 col-md-6">
                      <!-- card -->
                      <div class="card card-animate">
                        <div class="card-body">
                          <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-grow-1 overflow-hidden">
                              <p
                                      class="text-uppercase fw-medium text-muted text-truncate mb-0 text-center">
                                Surat selesai tepat waktu</p>
                            </div>

                          </div>
                          <div class="d-flex align-items-end justify-content-center mt-4">
                            <div>
                              <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                                <div th:text="${suratTepatWaktu}"></div>
                              </h4>
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-grow-1 overflow-hidden">
                              <p class="text-uppercase fw-medium text-muted text-truncate mb-0 text-center">
                                Surat </p>
                            </div>
                          </div>
                        </div><!-- end card body -->
                      </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                      <!-- card -->
                      <div class="card card-animate">
                        <div class="card-body">
                          <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-grow-1 overflow-hidden">
                              <p
                                      class="text-uppercase fw-medium text-muted text-truncate mb-0 text-center">
                                Surat selesai terlambat</p>
                            </div>

                          </div>
                          <div class="d-flex align-items-end justify-content-center mt-4">
                            <div>
                              <h4 class="fs-22 fw-semibold ff-secondary mb-4">
                                <div th:text="${suratTerlambat}"></div>
                              </h4>
                            </div>
                          </div>

                          <div class="d-flex align-items-center justify-content-center">
                            <div class="flex-grow-1 overflow-hidden">
                              <p class="text-uppercase fw-medium text-muted text-truncate mb-0 text-center">
                                Surat</p>
                            </div>
                          </div>
                        </div><!-- end card body -->
                      </div><!-- end card -->
                    </div><!-- end col -->
                  </div>
<!--                  <div id="sales-analytics-chart" class="apex-charts" dir="ltr"></div>-->
                </div>

              </div> <!-- end card-body-->
            </div> <!-- end card-->
          </div> <!-- end col-->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © SI SURAT
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="fa-solid fa-heart"></i> by Propensi C03</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<div th:replace="fragments/navbar :: js"></div>
<footer  th:replace="fragments/navbar :: footer"></footer>

</body>

</html>