<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload Berkas</title>

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<style>

  h1 {
    text-align: center;
  }

  p {
    font-size: 18px;
    color: #5f6982;
  }

</style>

<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="container">
        <a type="button" th:href="@{/listtemplate}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

        <br>
        <br>

        <h1 class="title">Unggah Berkas</h1>
        <br>



        <!-- Upload  -->
        <form th:action="@{/upload/file}" method="POST" enctype="multipart/form-data" id="file-upload-form">

          <input required class="form-control form-control-lg" type="file" name="file" id="berkas_file" accept=".pdf">
          <input type="hidden" name="idPermintaanSurat" th:value="${idPermintaanSurat}">

          <br>
          <div>
            <p th:if="${alert}" th:text="${alert}"></p>

            <p>Catatan:</p>
            <ul>
              <li>Hanya menerima file dengan format pdf.</li>
              <li>Maksimal size : 10MB</li>
            </ul>
          </div>

          <button type="submit" class="btn btn-primary">Simpan</button>
          <a class="btn btn-danger" th:href="@{/detailSurat/} + ${idPermintaanSurat}">Kembali</a>
        </form>


      </div>
    </div>
  </div>
</div>


<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>
</body>

</html>