<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Delete Permintaan Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<style>

    body {
        text-align: center;
    }

</style>

<body>
<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">

                <h1> User added </h1>
                <br>
                <br>
                <a th:href="@{/user}" class="btn btn-primary">Kembali</a>
            </div>
        </div>
    </div>
</div>

</body>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</html>