<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Pengguna</title>
    <meta charset="UTF-8">

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
<style>
</style>
<body>

<div th:replace="fragments/fragment :: navbarAdmin"></div>
<div th:replace="fragments/fragment :: rightSidebar"></div>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="container">
                <div>
                    <form th:action="@{/user/update}" th:object="${user}" method="POST">
                        <input type="hidden" th:field="*{id}" />

                        <label for="name">Nama</label>
                        <input class="form-control" type="text" th:field="*{name}" readonly/>
                        <br>

                        <label for="username">Username</label>
                        <input class="form-control" type="text" th:field="*{username}" readonly/>
                        <br>

                        <label for="emailUI">Email UI</label>
                        <input class="form-control" type="text" th:field="*{emailUI}" readonly/>
                        <br>

                        <th:block th:unless="*{emailNonUI == null}">
                        <label for="emailNonUI">Email Non-UI</label>
                        <input class="form-control" type="text" th:field="*{emailNonUI}" readonly/>
                        <br>
                        </th:block>

                        <label for="role.id">Role</label>
                        <p style="color: red">*Peringatan: Menyimpan perubahan role akan menghapus data permintaan surat pengguna. Tekan kembali untuk membatalkan perubahan.</p>
                        <select th:field="*{role.id}" class="form-control">
                            <option value="1">Mahasiswa</option>
                            <option value="2">Admin</option>
                            <option value="3">Eksekutif</option>
                        </select>
                        <br>
                        <br>
                        <button class="btn btn-primary" type="submit">Simpan</button>
                        <a class="btn btn-danger" th:href="@{/user}">Kembali</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragment :: js"></div>
<footer  th:replace="fragments/fragment :: footer"></footer>

</body>
</html>